<!DOCTYPE html>
<html lang="en">
 
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>Grandpy Bot </title>

	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	 <link rel="stylesheet" type="text/css" href="../static/css/main.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	 <script src="static/js/script.js"></script>

</head>
<body style="background-color: #d4d4d4;">
<div class="top-bar"></div>
<div class="container">
	<div class="m-5">
		<div>
    		<p id="loader" class="center-align">
    			<img src="../static/images/robot.png">
    		</p>
    		<h2 class="form-signin-heading orange">Posez votre question à grandpy bot:</h2>
    	</div>

        <form class="form-signin"  role="form">
        	<div class="mt-2">
		        <input id="#inputQuestion" name="question" class="form-control" placeholder="'Ou se trouve la place Vendome ?'" autofocus>         		
        	</div>
        	<div class="mt-2">
       	        <button class="btn btn-lg btn-dark btn-block" type="button">Go!</button>
			</div>
		</form>   
	</div>
	
{% if response %}

 	
 		<p>{{ response }}</p>
 		<p>{{ wiki | safe  }}</p>
 	

	{{ x_coo }}
	{{ y_coo }}


	

{% else %}
Je n'ai rien trouvé pour {{ response }}
{% endif %}
</div>
</body>
 
</html>
